USE [sgpp_desarrollo]
GO
/****** Object:  Table [dbo].[provincias]    Script Date: 28/03/2016 08:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[provincias](
	[id] [int] NOT NULL,
	[provincia] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[provincias] ([id], [provincia]) VALUES (1, N'Buenos Aires')
INSERT [dbo].[provincias] ([id], [provincia]) VALUES (2, N'Buenos Aires-GBA')
INSERT [dbo].[provincias] ([id], [provincia]) VALUES (3, N'Capital Federal')
