USE [sgpp_desarrollo]
GO
/****** Object:  Table [dbo].[localidades]    Script Date: 28/03/2016 08:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[localidades](
	[id] [int] NOT NULL,
	[id_privincia] [int] NOT NULL,
	[localidad] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[localidades] ([id], [id_privincia], [localidad]) VALUES (1, 1, N'25 de Mayo')
INSERT [dbo].[localidades] ([id], [id_privincia], [localidad]) VALUES (2, 1, N'3 de febrero')
INSERT [dbo].[localidades] ([id], [id_privincia], [localidad]) VALUES (3, 1, N'A. Alsina')
GO
