<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinalSpinedi.Properties.Settings.StockConnectionString"
            connectionString="Data Source=HACHITO\SQLEXPRESS;Initial Catalog=Stock;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FinalSpinedi.Properties.Settings.BibliotecaConnectionString"
            connectionString="Data Source=HACHITO\SQLEXPRESS;Initial Catalog=Biblioteca;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>